@model Entities.LeaveRule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>LeaveRule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model=>model.Id)
            @Html.HiddenFor(model=>model.OrganizationId)
            @Html.HiddenFor(model=>model.CreatedDate)
            @Html.HiddenFor(model=>model.UpdatedDate)
            @Html.HiddenFor(model=>model.CreatedBy)
            @Html.HiddenFor(model=>model.UpdatedBy)
            <div class="form-group">
                <label asp-for="LeaveTypeId" class="control-label"></label>
                 @Html.DropDownListFor(m=>m.LeaveTypeId, new SelectList(ViewBag.leaves, "LeaveId", "Name"), "Select Leave Type",new { @class="form-control"})
                <span asp-validation-for="LeaveTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfLeaves" class="control-label"></label>
                <input asp-for="NoOfLeaves" class="form-control" />
                <span asp-validation-for="NoOfLeaves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LeaveValidity" class="control-label"></label>
                 @Html.DropDownList("LeaveValidity", ViewBag.leaveValidity as IEnumerable<SelectListItem>, "Select Leave Type", new { @class = "form-control" })
                <span asp-validation-for="LeaveValidity" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCarryForward" /> @Html.DisplayNameFor(model => model.IsCarryForward)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CarryForwardCap" class="control-label"></label>
                <input asp-for="CarryForwardCap" class="form-control" />
                <span asp-validation-for="CarryForwardCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
