@model IEnumerable<LMSService.ViewModels.vwLeaveRule>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create"><strong><i class="fas fa-plus"></i></i></strong> Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfLeaves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveValidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCarryForward)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarryForwardCap)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfLeaves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveValidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCarryForward)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarryForwardCap)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id },new { @class= "fas fa-pen-square" }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id },new { @class= "far fa-trash-alt" })
            </td>
        </tr>
}
    </tbody>
</table>
